<!-- Sección de Portada -->
<section class="container-fluid bg-primary text-white text-center py-5">
    <h1 class="display-3">Angular FCT</h1>
    <p class="lead">
      Una aplicación hecha con Angular para gestionar empresas de FCT en los
      ciclos formativos.
    </p>
  </section>
  <!-- Sección de Características -->
  <section class="container mt-5">
    <div class="row">
      <!-- Bloque 1 -->
      <div class="col-md-4 text-center mb-4">
        <div class="icon-container mb-3">
          <i class="bi bi-building text-primary" style="font-size: 4rem"></i>
        </div>
        <h3>Gestión de Empresas</h3>
        <p>
          Permite gestionar el listado de empresas que ofrecen prácticas a los
          estudiantes de FCT.
        </p>
      </div>
  
      <!-- Bloque 2 -->
      <div class="col-md-4 text-center mb-4">
        <div class="icon-container mb-3">
          <i class="bi bi-person-circle text-primary" style="font-size: 4rem"></i>
        </div>
        <h3>Gestión de Estudiantes</h3>
        <p>
          Facilita el registro y seguimiento de los estudiantes que realizan las
          prácticas en las empresas.
        </p>
      </div>
  
      <!-- Bloque 3 -->
      <div class="col-md-4 text-center mb-4">
        <div class="icon-container mb-3">
          <i
            class="bi bi-gear-wide-connected text-primary"
            style="font-size: 4rem"
          ></i>
        </div>
        <h3>Control de Conexión</h3>
        <p>
          Permite hacer el seguimiento de la relación entre empresas y estudiantes
          durante el período de FCT.
        </p>
      </div>
    </div>
  </section>